<!DOCTYPE HTML>
<html>

<% if logged_in? %>
    <%= button_to "Logout", '/logout', method: :get%>
<head>
  <title>CSIL Wiki</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="assets/application.css" title="style" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1 color='black'> ACTIVITY MONITORING </h1>
          <h2><em>Maintain and update lab monitoring services. Develop report formats with full user interface support. Provide nightly LabStats email. Currently uses Python, Django, Javascript, HTML/CSS</em></h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you are on -->
          <li></li>
          <li class="selected">&nbsp<a href="Testing">Home</a><br></li>
          <li><div class="dropdown">
            <button class="dropbtn">Meisterdoms</button>
            <div class="dropdown-content">
              &nbsp<a href="ActivityMonitoring">Activity Monitoring</a><br>
              &nbsp<a href="Backups">Backups</a><br>
              &nbsp<a href="Imaging">Imaging</a><br>
              &nbsp<a href="Inventory">Inventory</a><br>
              &nbsp<a href="Kiosk">Kiosk</a><br>
              &nbsp<a href="LoginsSecurity">Logins & Security</a><br>
              &nbsp<a href="Printing">Printing</a><br>
              &nbsp<a href="Scheduling">Scheduling/Cleaning </a><br>
              &nbsp<a href="Servers">Servers</a><br>
              &nbsp<a href="Training">Training</a><br>
              &nbsp<a href="Webint">Web-int</a><br>
              &nbsp<a href="Website">Website</a><br>
              &nbsp<a href="Testing">Testing</a><br>
              </div>
            </div></li>
          <li><a href="page.html">General Issues</a></li>
          <li><a href="another_page.html">Tutorial Videos</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="https://github.com/tylerraclin/csil_wiki">Edit</a></li>
        </ul>
      </div>
    </div>
    <div id="site_content">
      <div class="sidebar">
        <!-- insert your sidebar items here -->
        <ul>
          <li><a href="#">TBD</a></li>
        </ul>
        <!-- <h3>Search</h3>
        <form method="post" action="#" id="search_form">
          <p>
            <input class="search" type="text" name="search_field" value="Enter keywords....." />
            <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="style/search.png" alt="Search" title="Search" />
          </p>
        </form> -->
      </div>
      <div id="content">
        <!-- insert the page content here -->
        <h1>Welcome to Activity Monitoring!</h1>
        <h4><i>Current tutors:</i></h4>
        <ul>
          <li>Yves, Dawson</li>
        </ul>
        <div class="help">
          <%= render :partial => "sessions/markdown/ActivityMonitoring" %>
        </div>
        <p>This meisterdom involves tracking usage and user activity, usually for the statistics and security. We also provide graphical illustrations and API endpoints to demonstrate the captured data. There are three main activity monitoring tools we actively use and support: labstats, rsyslog and Prometheus. </p>
        <button type="button" class="collapsible">Labstats</button>
        <div class="content">
            <p>Labstats is responsible for tracking CSIL usage, especially each users login sessions. In general, this is done through login hooks that makes API calls to our Django REST API. This is currently being revamped. </p>
        </div>
        
        <button type="button" class="collapsible">Rsyslog</button>
          <div class="content">
              <p>Placeholder for now…</p>
          </div>
        
        <button type="button" class="collapsible">Prometheus</button>
          <div class="content">
              <p>Prometheus is responsible for monitoring the health of CSIL machines and servers. In general, prometheus-dl1 scrapes metrics exposed by node-exporter on various machines, and stores them in a database. This database is then connected to Grafana, for visualization purposes. </p>
          </div>
          <script>
          var coll = document.getElementsByClassName("collapsible");
          var i;
          for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
              this.classList.toggle("active");
              var content = this.nextElementSibling;
              if (content.style.display === "block") {
                content.style.display = "none";
                } else {
                  content.style.display = "block";
                }
                });
              }
              </script>
            </div>
           </div>
          </div>
        <%end%>

  <% if not_logged_in? %>
    <%= button_to "Login", '/login', method: :get%>

  <!--  <%= button_to "Sign Up", '/users', method: :get%> -->
  <%end%>
  
</body>
</html>
