<div class="topnav">
  <a href="welcome">Home</a>
  <% if logged_in? %>
    <a href="meisterdoms">Meisterdoms</a>
    <a href="webcheckout">WebCheckout</a>
  <%end%>
</div>

<p>

WebCheckout for ‘MADD CSIL’ Staff
pictures included at the end
<br>
Checkouts
<br>
Find the person
<br>
Option A: CNET lookup
Type the patron’s CNET ID into the field labeled ‘Person/Resource/Allocation’
<br>
Option B: Name lookup
Under ‘People’, type in the person’s name into the field labeled ‘Person Quicksearch’
<br>
Start a new checkout
<br>
Under person, select ‘New Checkout’
<br>
Select resource(s) - double click each item to select
<br>
Edit details and confirm
<br>
Configure time to return
<br>
When doing so:
Make sure to inform all users of the time the CSIL asset is due back when checking out.
Remind them that the asset is not to leave the lab area.
If it is late in the day make sure you let them know it is due back 15 minutes before closing so you aren’t waiting around at midnight or later (10 pm or later on Friday and Saturday). 
Our late fee policy (for now we will use the MADD policy)
Manually enter their return date and time in the Return Date and Return Time fields via typing them in and/or using the up/down buttons, or try your hand with the WCO Timeline Scheduler to slide to the date and time. Make sure the time is 11:45 PM or 9:45 PM before you commit.
<br>
Select ‘Commit’
Select ‘Confirm Checkout’
<br><br>
Returns
<br>
OPTION A: Click the Rapid Return icon.  
Scan the barcode of each item into the Bar Code/Resource ID field.
Click "Return Resource" 
Before you let the patron walk away, make sure that their return is complete! 
<br>
OPTION B: Look up the patron by CNET or name.
<br>
On the patron’s page, find and click the resource they are looking to return
On the resource’s page, click ‘contents’
Copy & paste resource’s full name into ‘ID/Barcode of Incoming Resources’ box and select ‘Return Barcodes’. Once you see the name of the actual equipment (ex. “MADD CSIL USBC - HDMI Adaptor), then copy that equipment name. Then, click rapid return and paste the equipment name into the slot and click the Return button.
 <br><br>
Striking Fines
 Find patron’s account
 Navigate to ‘Invoices’ tab
Click the invoice ID you wish to strike charges for
 Select and strike selected charges
<br><br>
Setting your PIN
 In the top RH corner - click your name to open a menu
Click ‘my person data’
 Navigate to the ‘Operator info’ tab
 Set your PIN













Checkouts
Find the Person

Lookup via CNET ID (example: ‘aprilwang’)


Person Lookup


New checkout

Double click the resource, determine time of return. Hit ‘commit’ (blocked by the time stuff)


‘Confirm Checkout’



Returns


Option A: rapid return button


Option B: ‘contents’ page linked with the resource CK-60103

Striking Charges
Patron page. Navigate to ‘Invoices’ tab and click desired invoice (ex/ I-7376)


Select and click ‘Strike Selected Charges’
</p>
