
  <h1 align="center" style="border:2px solid red">Welcome to Pill Time!</h1>
  <% if logged_in? %>
      <h1 align="center">You are Logged In</h1>
      <p align="center">Click <a href="pills">here</a> to view and edit your pill reminders!</p>
  <%end%>
    <%= button_to "Logout", '/logout', method: :get%>
    <%= button_to "Login", '/login', method: :get%>
    <%= button_to "Sign Up", '/users', method: :get%>