<h1>Sign up</h1>

<form>
  <div>
    <label>Username</label>
    <input type="text" name="qs_username">
  </div>

  <div>
    <label>Password</label>
    <input type = "text">
  </div>

  <div>
    <label>Password Confirmation</label>
    <input type="text">
  </div>

  <div>
    <label>Private</label>
    <input type="checkbox" name="qs_private">
  </div>

  <button>
    Sign up
  </button>
</form>