/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

table, th, td {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: white;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

#flufferpuff {
  background-color: lightblue;
  border: 2px solid black;
  border-collapse: collapse;
  padding: 5px;
}


.container{
  padding: 5px;
}

.cpill {
  padding: 5px 5px;
  font-size: 16px;
}

.button_to {
  padding: 5px 5px;
  font-size: 30px;
  text-align: center;
}

label {
  display: inline-block;
  width: 140px;
  text-align: right;
}

#meisterdomheader {
  display: block;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 5px;
  margin-right: 0;
  font-size: 20px;
  color: black;
  border-bottom: 2px solid black;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  max-width: 300px; /* Set the width of the sidebar */
  margin: auto;
  position: relative; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #add8e6; /* Light Blue */
  overflow-x: hidden; /* Disable horizontal scroll */
  float:left;
}

.nav {
color:black;
}

/*
html {font: 14px 'Open Sans Condensed', 'Times New Roman', Verdana, sans-serif;}
h1 {font-size: 2.25em;}
h2 {font-size: 2em;}
h3 {font-size: 1.75em;}
h4 {font-size: 1.5em;}
p {font-size: 1.25em;}*/